* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: "Poppins", sans-serif;
    font-size: clamp(0.95rem, 2vw, 1.2rem);
}

a {
    text-decoration: none;
}

.login_screen {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: clamp(1rem, 3vw, 2rem);
}

.login_screen button:hover {
    background-color: #6495ED;
    cursor: pointer;
}

.login_directions {
    display: flex;
    gap: 1vw;
    margin-bottom: 1%;
    font-size: 50px;
    
}

.login_directions button {
    background-color: transparent;
    font-size: 50px;
    border: none;
}


.login_form {
    position: relative;
    width: min(450px, 100%);
    margin-inline: clamp(0.2rem, 3vw, 1.5rem);
    color: #fff;
    padding: 2rem clamp(1.8rem,4vw, 2.5rem);
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: clamp(0.4rem, 2vw, 1rem);
    background: transparent;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px) ;
    text-align: center;
}

.login_form button {
    border-radius: 20%;
    background-color: transparent;
    border: none;
    font-size: 36px;
    margin-top: 25px;
}

.login_input {
    display: grid;
}

.login_input input {
    background-color: transparent;
    border-color: #fff;
    height: 7vh;
    text-align: center;
    
}

.app-shell {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.user-information {
    display: flex;
    justify-content: right;
    gap: 1pc;
    height: 5vh;
    align-items: center;
    font-size: xx-large;
}

.user-information img {
    height: 40px;
    display: block;  
    color: #fff;     
}

.user-information button {
    background-color: transparent;
    border: none;
    font-size: xx-large;
}

.user-information button:hover {
    background-color: #6495ED;
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    height: 7vh;
    margin-bottom: 10px;
}

.nav-buttons button {
    width: 100vw;
}

.nav-buttons button:hover {
    background-color: #6495ED;
    cursor: pointer;
}


.date-range-container {
    justify-self: center;
    display: flex;
    gap: 1pc;
    margin-bottom: 10px;
}

.reports {
    display: flex;
    flex-direction: column;
    min-height: 72vh;
}

.date-range input {
    height: 7vh;
    font-size: 5vh;
}

.date-range input:hover {
    background-color: #6495ED;
    cursor: pointer;
}

.date-range span {
    font-size: 5vh;
}

.pie-reports-container {
    display: flex;
    max-width: 100vw;
}

.pie-report {
    width: 100vw;
}

.pie-chart {
    min-height: 36vh;
}

.line-chart {
    min-height: 36vh;
}

.drop-zone {
    margin: 10px;
    justify-self: center;
    font-size: xx-large;
}

.drop-zone :hover {
    background-color: #6495ED;
    cursor: pointer;
}

/* .account-page {
    display: flex;
    justify-content: center;
} */

.user-info {
    justify-self: center;
    
}